* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.website {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.website .navbar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  width: 220px;
  background-color: rgba(11, 56, 169, 0.073);
  height: 800px;
}
.website .navbar .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left: 0px;
  gap: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.379);
  padding: 15px;
  margin-top: 15px;
}
.website .navbar .logo img {
  height: 30px;
  width: 30px;
}
.website .navbar .logo span {
  color: #0000ff;
}
.website .navbar .logo i {
  margin-bottom: 40px;
  display: none;
}
.website .navbar ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.website .navbar .nav1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px;
}
.website .navbar .nav1 .special {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(112, 192, 239, 0.475);
  padding: 10px 43px 10px 43px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.website .navbar .nav1 img {
  width: 30px;
  height: 30px;
}
.website .navbar .nav1 li {
  list-style: none;
}
.website .navbar .nav1 a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}
.website .content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 800px;
}
.website .content .navbar2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  width: 1045px;
  background-color: rgba(11, 56, 169, 0.073);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.website .content .navbar2 .bars {
  font-size: 20px;
  background-color: rgba(0, 187, 255, 0.313);
  padding: 10px 15px 10px 15px;
  border-radius: 360px;
  margin-left: 20px;
}
.website .content .navbar2 .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.388);
  background-color: rgba(0, 187, 255, 0.313);
}
.website .content .navbar2 .searchbar input {
  outline: none;
  border: none;
  padding: 10px 100px 10px 5px;
}
.website .content .navbar2 .searchbar i {
  font-size: 20px;
  padding: 0px 10px 0px 5px;
}
.website .content .navbar2 .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}
.website .content .navbar2 .icons .bell {
  font-size: 20px;
  background-color: rgba(0, 187, 255, 0.313);
  padding: 10px 15px 10px 15px;
  border-radius: 360px;
}
.website .content h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
  border-bottom: 2px solid rgb(0, 157, 255);
}
.website .content .create form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  margin-left: 320px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 60px;
  border-radius: 10px;
}
.website .content .create form label {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}
.website .content .create form input {
  padding: 5px 30px;
  border-color: #0000ff;
}
.website .content .create form button {
  padding: 10px 10px;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: blue;
  color: white;
  font-size: 18px;
}
.website .content #myupdatedata input {
  margin-top: 30px;
  margin-left: 40px;
  padding: 5px;
  border: 2px solid red;
}
.website .content #myupdatedata button {
  padding: 7px 10px;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(0, 157, 255);
  color: white;
  margin-left: 20px;
}
.website .content .table table {
  width: 180%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
  margin-left: 30px;
}
.website .content .table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.website .content .table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.website .content .table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
.website .content .table tr:hover {
  background-color: #f1f1f1;
}
.website .content .table .action-btn {
  padding: 5px 10px;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.website .content .table .delete-btn {
  background-color: red;
  color: white;
}
.website .content .table .update-btn {
  background-color: blue;
  color: white;
}

@media screen and (max-width: 768px) {
  .website .navbar {
    display: none;
    position: fixed;
    top: 0;
    background-color: rgb(106, 195, 239);
    height: 930px;
    left: -300px;
    transition: left 0.5s ease;
  }
  .website .navbar .logo i {
    display: block;
    font-size: 25px;
  }
  .website .content {
    height: 800px;
  }
  .website .content .navbar2 {
    height: 78px;
    width: 1075px;
    background-color: rgba(11, 56, 169, 0.073);
  }
  .website .content .create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 60px;
    border-radius: 10px;
  }
  .website .content .create label {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
  }
  .website .content .create input {
    padding: 20px 220px;
    border-color: #0000ff;
  }
  .website .content .create button {
    padding: 10px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: blue;
    color: white;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) and (max-width: 426px) {
  .website .navbar {
    display: none;
    position: fixed;
    top: 0;
    background-color: rgb(106, 195, 239);
    height: 1255px;
    width: 400px;
    left: -300px;
    transition: left 0.5s ease;
  }
  .website .navbar .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 0px;
    gap: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.379);
    padding: 20px;
  }
  .website .navbar .logo h1 {
    font-size: 35px;
  }
  .website .navbar .logo img {
    height: 50px;
    width: 50px;
  }
  .website .navbar .logo span {
    color: #0000ff;
  }
  .website .navbar .logo i {
    font-size: 35px;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .website .navbar ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .website .navbar .nav1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px;
  }
  .website .navbar .nav1 .special {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(112, 192, 239, 0.475);
    padding: 10px 43px 10px 43px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-top: 50px;
  }
  .website .navbar .nav1 img {
    width: 50px;
    height: 50px;
  }
  .website .navbar .nav1 li {
    list-style: none;
  }
  .website .navbar .nav1 a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
  }
  .website .content {
    height: 1300px;
  }
  .website .content .navbar2 {
    height: 98px;
    width: 1075px;
    background-color: rgba(11, 56, 169, 0.073);
  }
  .website .content .navbar2 .bars {
    font-size: 30px;
    background-color: rgba(0, 187, 255, 0.313);
    padding: 15px 25px 15px 25px;
    border-radius: 360px;
    margin-left: 20px;
  }
  .website .content .navbar2 .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.388);
    background-color: rgba(0, 187, 255, 0.313);
  }
  .website .content .navbar2 .searchbar input {
    outline: none;
    border: none;
    padding: 20px 150px 20px 5px;
  }
  .website .content .navbar2 .searchbar i {
    font-size: 20px;
    padding: 0px 20px 0px 5px;
  }
  .website .content .navbar2 .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
  }
  .website .content .navbar2 .icons .bell {
    font-size: 30px;
    background-color: rgba(0, 187, 255, 0.313);
    padding: 10px 15px 10px 15px;
    border-radius: 360px;
  }
}/*# sourceMappingURL=table.css.map */